
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
    @await Component.InvokeAsync("_AdminLayoutHeadComponenetPartial")
<body>


    <!--start wrapper-->
    <div class="wrapper">
        <!--start sidebar -->
        @await Component.InvokeAsync("_AdminLayoutSidebarComponenetPartial")
        <!--end sidebar -->
        <!--start top header-->
        @await Component.InvokeAsync("_AdminLayoutHeaderComponenetPartial")
        <!--end top header-->
        <!-- start page content wrapper-->
        <div class="page-content-wrapper">
            <!-- start page content-->
            <div class="page-content">

                <!--start breadcrumb-->
                @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponentPartial")

                
                <!--end breadcrumb-->
                @RenderBody()
            </div>
            <!-- end page content-->
        </div>



        <!--Start Back To Top Button-->
        @await Component.InvokeAsync("_AdminLayoutSwitcherComponentPartial")
       
        <!--end overlay-->

    </div>
    <!--end wrapper-->
    <!-- JS Files-->
    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
  
    <!--plugins-->
    <script src="/ltr/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

    <!-- Main JS-->
    <script src="/ltr/assets/js/main.js"></script>


</body>
</html>
